@{
    ViewData["Title"] = "Trocando de Layout";
}

<div class="align-content-md-center">
    <h2 style="padding: 14px;">@ViewData["Title"]</h2>
    <section class="align-content-md-center">
        <p>
            Veja nesta aula como funciona a utilização de Layout no ASP.NET Core MVC.
            Além disso, veremos a utilização do ViewData, dentro de um layout master.
        </p>

        <p>
            A viewstart seta qual é o layout principal e dentro de cada diretorio pode conter
            diferentes Layouts.
        </p>

    </section>
</div>
