@{
    ViewData["Title"] = "Trocando de Layout";
}

<h2>@ViewData["Title"]</h2>

<p>Veja nesta aula como funciona a utilização de Layout no ASP.NET Core MVC. 
    Além disso, veremos a utilização do ViewData, dentro de um layout master.</p>

    <p>A viewstart seta qual é o layout principal e dentro de cada diretorio pode conter
        diferentes Layouts.
    </p>